## Intro to Numerical Computing with NumPy

In [19]:
import numpy as np

### Datatype and attributes

In [20]:
# Numpy's main datatype is ndarray (n-dimensional array)
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [21]:
# Numpy data types
type(a1)

numpy.ndarray

In [22]:
a2 = np.array([[1, 2.0, 3.0], [4, 5, 6.5]])

a3 = np.array(
    [[[1, 2.0, 3], [4, 5, 6.5], [7, 8, 9]], [[10, 11, 12], [13, 14, 15], [16, 17, 18]]]
)

In [23]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [24]:
a3

array([[[ 1. ,  2. ,  3. ],
        [ 4. ,  5. ,  6.5],
        [ 7. ,  8. ,  9. ]],

       [[10. , 11. , 12. ],
        [13. , 14. , 15. ],
        [16. , 17. , 18. ]]])

In [25]:
a1.shape

(3,)

In [26]:
a2.shape

(2, 3)

In [27]:
a3.shape

(2, 3, 3)

In [28]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [29]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int64'), dtype('float64'), dtype('float64'))

In [30]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [31]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [32]:
a2

array([[1. , 2. , 3. ],
       [4. , 5. , 6.5]])

In [33]:
# Create a DataFrame from a NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.0
1  4.0  5.0  6.5

## 2. Create Numpy Arrays

In [34]:
sample_array = np.array([1, 2, 3, 4, 5])

In [35]:
sample_array.dtype

dtype('int64')

In [36]:
ones = np.ones((2, 3))
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [38]:
ones.dtype

dtype('float64')

In [39]:
type(ones)

numpy.ndarray